<ion-header>
    <ion-navbar color="primary">
      <ion-title text-center><b>Aswant Solution Sdn Bhd</b></ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content style="margin-left:2%;margin-top:3%;">
    <div align="center">
      <img src="{{defaultPicture}}" class="beforeFixing"  *ngIf="default" (click)="presentActionSheet()"><br>  
      <img src="data:image/jpeg;base64,{{cameraData}}" class="beforeFixing" *ngIf="uploadDone" (click)="presentActionSheet()"><br>
    </div><br><br>
  
    <ion-item>
      <ion-label stacked><b>First Name:</b></ion-label>
      <ion-input [(ngModel)]="firstName" required type="text" placeholder="Ahmad Mutalib"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked><b>Last Name:</b></ion-label>
      <ion-input [(ngModel)]="lastName" required type="text" placeholder="Muhammad"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked><b>I/C:</b></ion-label>
      <ion-input [(ngModel)]="ic" required type="text" placeholder="xxxxxx-xx-xxxx"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked><b>BOD:</b></ion-label>
      <ion-input [(ngModel)]="birthDate" required type="text" placeholder="xx-xx-xxxx"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked><b>Position:</b></ion-label>
      <ion-input [(ngModel)]="staffPosition" required type="text" placeholder="Managing Director"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked><b>Email:</b></ion-label>
      <ion-input [(ngModel)]="email" required type="email" placeholder="asus@abc.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked><b>Contact No:</b></ion-label>
      <ion-input [(ngModel)]="telephoneNo" required type="tel" placeholder="0123456789"></ion-input>
    </ion-item>
  
    <div padding text-center>
      <button class="submitButton" color="secondary" round small ion-button type="submit" (click)="profileEdit()">Save</button> 
    </div>
  </ion-content>
  